// Allows to see color in IDE.
.COLOR_1{  color :#f6e9c7;  }
.COLOR_2{ color: #234  }
.COLOR_3{  color :#444;  }
.COLOR_4{  color :#67998c;  }
.COLOR_5{  color :#e1e5e5;  }
.COLOR_6 {color : #e1421d; }
.COLOR_7 {color : #222830; }
.COLOR_8{  color :#f3f3f3; }
.COLOR_9{  color :#9e7c40; }
.COLOR_10{  color :#3097bf; }
.COLOR_11{  color :#ff9b37; }
.COLOR_12{  color :#85958b; }
.COLOR_13{  color :#401539; }
.COLOR_14{  color :#f26d7d; }
.COLOR_15{ color: #87CEEB; }
.COLOR_16{color: #608341; }
.COLOR_17{color: #ffc05c; }
.COLOR_18{color: #e13636;}
.COLOR_19{color: #441e57}
.COLOR_20{color: #2a571e}
.COLOR_21{color: #8393ca}
.COLOR_22{  color :#bbb;}
.COLOR_23{ color: #e5c395;}
.COLOR_24 { color: #dbba8f ;}